* {
    text-decoration: none;
    padding: 0;
    margin: 0;
}
body {
    background-color: #333;
}
.center {
    left: 50%;
    transform: translate(-50%);
}
.info {
    margin: 5px 0;
    position: relative;
    top: 5px;
    color: lightgrey;
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.status-val {
    display: none;
}
.health-val {
    display: none;
}
.buttons {
    position: relative;
    top: 10px;
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.btn {
    background-color: #333;
    color: lightgrey;
    border: 1px solid dimgray;
    border-radius: 30%;
    padding: 5px;
    cursor: pointer;
    font-size: 16px;
}
.btn:hover {
    border: 1px solid whitesmoke;
    color: whitesmoke;
}
.tmg {
    position: relative;
    top: 20px;
    width: 150px;
}
#tmg-smile {
    height: 100%;
    width: 100%;
    border-radius: 100%;
}
#tmg-sadSmile {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    display: none;
}
#tmg-bigSmile  {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    display: none;
}