* {
    text-decoration: none;
    padding: 0;
    margin: 0;
}
body {
    background-color: #333;
}
.feed {
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: #333;
    color: azure;
    border: 1px solid dimgray;
    border-radius: 30%;
    padding: 5px;
    cursor: pointer;
    font-size: 16px;
}
.feed:hover {
    border: 1px solid whitesmoke;
}
.play {
    position: absolute;
    top: 65px;
    left: 30px;
    background-color: #333;
    color: azure;
    border: 1px solid dimgray;
    border-radius: 30%;
    padding: 5px;
    cursor: pointer;
    font-size: 16px;
}
.play:hover {
    border: 1px solid whitesmoke;
}
.panish {
    position: absolute;
    top: 100px;
    left: 30px;
    background-color: #333;
    color: azure;
    border: 1px solid dimgray;
    border-radius: 30%;
    padding: 5px;
    cursor: pointer;
    font-size: 16px;
}
.panish:hover {
    border: 1px solid whitesmoke;
}
.tmg {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
}
.tmg-happy {
    height: 100px;
    width: 100px;
    border-radius: 100%;
}
.tmg-sad {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    display: none;
}